
*{margin: 0; padding: 0; box-sizing:border-box; font-family: 'Poppins', sans-serif;}

.jumbotron {
    width: 100%;
	height: 100vh;
    background-image: url('img/Jumbo.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
    font-family: 'Cedarville Cursive', cursive;
    font-weight:normal;
    font-size:24px;
    padding-top: 60px;
    color : #fff;
}
.navbar-collapse {
    margin-left: 42rem;
}

.footer{
    background-color: #000000ea;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: rgba(255, 255, 255, 0.973);
}