
*{margin: 0; padding: 0; box-sizing:border-box; font-family: 'Poppins', sans-serif;}

.jumbotron {
    width: 100%;
	height: 100vh;
    background-image: url('img/Jumbo.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 54%, 79% 100%, 0 48%);
    clip-path: polygon(0 0, 100% 0, 100% 54%, 79% 100%, 0 48%);
	position: relative;
    font-family: 'Cedarville Cursive', cursive;
    font-weight:normal;
    font-size:24px;
    padding-top: 60px;
    color : #fff;
}
.navbar-collapse {
    margin-left: 42rem;
}

.navbar-dark{
	background-color: #040a1675;
}

.row-main{
    margin:0px auto;
    padding:0px;
}

.footer{
    background-color: #000000ea;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: #007bff;
}
tbody, .footer .a, .btn-social-icon{
    color: #007bff;
}

.fa {
    padding: 10px;
    border-radius: 3px;
    font-size: 0.9em;
    width: 0px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3.5px 5px 5px;
    object-fit: cover;
}
